<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>77333619326-4ehjnnl4s0ethte7pe1nsfbpg441h3kg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.77333619326-4ehjnnl4s0ethte7pe1nsfbpg441h3kg</string>
	<key>API_KEY</key>
	<string>AIzaSyA2PgiaJR4Kzo_kDrzIHH95QwiHLXcHBEs</string>
	<key>GCM_SENDER_ID</key>
	<string>77333619326</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jin-kim-test.NYU-Mobility-2</string>
	<key>PROJECT_ID</key>
	<string>nyu-mobility-conceptual</string>
	<key>STORAGE_BUCKET</key>
	<string>nyu-mobility-conceptual.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:77333619326:ios:f163603cb08787a620ee2f</string>
	<key>DATABASE_URL</key>
	<string>https://nyu-mobility-conceptual.firebaseio.com</string>
</dict>
</plist>